Hello {{ title | uppercase | lowercase }}

<p>
  {{ amount | currency }}
</p>

<p>
  {{ today | date:'yyyy-MM-dd' }}
</p>

<pre>{{ user | json }}</pre>


<div *ngIf="isLoading">
  Loading...
</div>

<input [(ngModel)]="email">
{{ email }}
<!-- <input #email
  (keyup.enter)="search(email.value)"> -->

<button (click)="onClickOkButton($event)">
  OK
</button>

<p
  [style.color]="isActive ? 'green' : 'red'">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, facere id sit adipisci repellendus laudantium dignissimos odio maxime laboriosam temporibus eaque incidunt autem ad fugit nisi veritatis necessitatibus quia. Nobis.
</p>

<img
  [src]="imageUrl"
  [class.active]="isActive">
